body, html{
    padding: 0;
    margin-bottom: 0;
}

*{
    margin: 0;
    padding: 0;
}

section{
    overflow-y: scroll;
    max-height: 100vh;
    /* justify-content: center; */
    align-items: center;
}

:root{ 
    --textoBranco: #FFFFFF;
    --textoPreto: #000000;
    --primaria: #221F3B; 
    --secundaria: #6F4A8E;
    --terciaria: #050505;
    --quaternaria: #EBEBEB;
    --texto: sans-serif;
    --titulo: sans-serif
}
@media screen and (max-device-width:640px){
    .containerFeed{
        width: 100%;
    }
}
.containerFeed{
    width: 50vw;
    min-height: 200px;
    height: fit-content;
    display: flex;
    overflow: hidden;
    background-color: var(--secundaria);
    color: var(--textoBranco);
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    padding-top: 10px;
    /* border: coral solid 1px; */
    box-shadow: 0px 5px 10px black, 0px 0px 10px black;
}

::-webkit-scrollbar-track{
    background-color: #f4f4f4;
}
::-webkit-scrollbar{
    width: 6px;
    background-color: #f4f4f4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

.fotoPerfil{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    /* border: solid 1px black; */
}
.card-image strong{
    margin-left: 30px;
    margin-top: 30px;
    font-size: 20px;
    /* border: solid 1px black; */
}
.card-image p{
    margin-right: 10px;
    /* font-size: 22px; */
}

.card-content p{
    margin-left: 10px;
}

.card .card-content{
    padding: 10px;
}
header.row{
    width: 547.6px;
}

.row{
    bottom: 5px;
    width: inherit;
}

.card .card-image img{
    border-radius: 50px;
    width: inherit;
}

.card{
    margin: 15px;
    background-color: #6F4A8E;
    overflow: hidden;
    width: 800px;
    margin: 0 auto;
    /* box-shadow: 10px 10px 10px black; */
    /* border: solid red 1px; */
}
.fotoVeiculos{
    max-height: 500px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btnFeedVeiculos{
    background-color: var(--terciaria);
    color: var(--quaternaria);
    margin-right: -1.5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
};

.btn, .btn-large{
    background-color: var(--primaria) !important;
}

.btn:hover, .btn-large:hover{
    background-color: var(--primaria); 
}

.btnFeedVeiculos:hover{
    background-color: var(--primaria);
    color: var(--quaternaria);
}

.btnFeedVeiculos:focus{
    background-color: var(--primaria);
    color: var(--quaternaria);
}

.card .card-action{
    margin-bottom: 15px;
    padding-bottom: 0px;
}